body{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}


.container{
    font-family: cursive;
    display: inline-block;
    margin-top: 50px;
}

.menu-panel{
    display: flex;
}

.menu-panel a{
    border: none;
    background-color: white;
    color: dodgerblue;
    font-size: x-large;
    text-decoration: underline;
    cursor: pointer;
}

.menu-panel a:hover{
    color: lightskyblue;
}

.menu-panel button{
    border: none;
    background-color: white;
    color: dodgerblue;
    font-size: x-large;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.menu-panel button:hover{
    color: lightskyblue;
}

.menu-item{

}

.menu-item a{
    margin-right: 15px;

}

button{
    font-family: cursive;
}

input{
    font-family: cursive;
}

.form-title{
    text-align: center;
    font-size: xxx-large;
    color: dodgerblue;
}

.view-post-form{
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.post-head{
    display: flex;
}

.post-head div{
    margin: 10px;
}

form{
    text-align: left;
    margin: 0px 10px 10px 10px;
    display: flex;
}

.post-block{
    font-size: larger;
}

.post-block textarea{
    font-size: normal;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    text-align: left;
    width: 100%;
    min-width: 500px;
    min-height: 50px;
    font-family: cursive;
    font-size: large;
}

.post-block textarea:focus{
    outline: none;
    border: 2px solid white;
}

.post-content{
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.add-comment-btn{
    margin-left: 20px;
}

.add-comment-btn button{
    border-radius: 10px;
    font-size: x-large;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-top: 5px;
}

.add-comment-btn button:hover{
    background-color: lightskyblue;
}

