<div th:fragment="commentBlock (mainId, post, padding)">
    <div class="post-block">
        <div class="post-head">
            <a th:text="${post.user.username}" th:href="@{/user/{id}/detail(id=${post.user.id})}"></a>
            <div th:text="${post.date}"></div>
        </div>
        <div class="post-content" th:text="${post.content}"></div>

        <form class="add-comment" th:action="@{/main/{mainId}/post/{id}/comment/add(mainId=${mainId}, id=${post.id})}" action="save" method="post" th:object="${newComment}">
            <input type="hidden" th:field="*{id}" />
            <textarea th:field="*{content}" />
            <div th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}">Error</div>
            <div class="add-comment-btn">
                <button type="submit" value="save">Comment</button>
            </div>
        </form>

        <div th:each="comm,iter :${post.comments}" th:style="'margin-left:' + ${padding} + 'px'">
            <div th:replace="post/commentBlock.html :: commentBlock(mainId=${mainId}, post=${comm}, padding=${20})">
            </div>
        </div>
    </div>
</div>
