<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Create new account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/createNewAccount.css}" />
</head>
<body>
<div class="container">
    <div class="form-title">
        Create New Account
    </div>
    <form class="create-new-account-form" th:action="@{/user/add}" action="save" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td>
                    <div class="create-account-label">Username:</div>
                </td>
                <td>
                    <div>
                        <input type="text" th:field="*{username}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="create-account-input">
                         <div th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}">Error</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="create-account-label">Password:</div>
                </td>
                <td>
                    <div>
                        <input type="password" th:field="*{password}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="create-account-input">
                         <div th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}">Error</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="create-account-label">First name:</div>
                </td>
                <td>
                    <div>
                        <input  type="text" th:field="*{firstName}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="create-account-input">
                        <div th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}">Error</div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="create-account-label">Last name:</div>
                </td>
                <td>
                    <div>
                        <input type="text" th:field="*{lastName}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="create-account-input">
                        <div th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}">Error</div>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="create-account-label">Day of birth:</div>
                </td>
                <td>
                    <div>
                        <input type="date" placeholder="Select date" th:field="*{dayOfBirth}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="create-account-input">
                        <div th:if="${#fields.hasErrors('dayOfBirth')}"
                              th:errors="*{dayOfBirth}">Error</div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="create-account-btn">
            <button type="submit" value="save">Submit</button>
        </div>
    </form>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
$(document).ready(function(){
  $(function(){
      $("#password1, #password2").on("keyup", function () {
        console.log("ble");
        var p1=$("#password1").val();
        var p2=$("#password2").val();
        if (p1 != p2) {
          alert("Second value should less than first value");
        }
      })
    })
})

</script>
</body>
</html>