<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:action="@{/login}" th:method="post">
            <div>
                <label>Username:</label>
                <input th:required="true" type="text"  th:name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input th:required="true" type="password"  th:name="password"/>
            </div>
            <button type="submit">Log in</button>
        </form>

    </div>
    <div>
        <button th:onclick="window.location.href='/create_account'">Create new account</button>
    </div>
</body>
</html>