<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}" />

</head>
<body>
    <div class="container">
        <form th:action="@{/login}" th:method="post" class="login-form">
            <table>
                <tr>
                    <td>
                        <div class="login-label">Username:</div>
                    </td>
                    <td>
                        <input th:required="true" type="text"  th:name="username"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="login-label">Password:</div>
                    </td>
                    <td>
                        <input th:required="true" type="password"  th:name="password"/>
                    </td>

                </tr>
            </table>
            <div class="login-btn">
                <button type="submit">Log in</button>
            </div>
        </form>

        <div class="create-acc-btn">
            <a th:href="@{/create_account}" href="#">Create new account</a>
        </div>
    </div>
</body>
</html>