<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dashboard.css}" />
</head>
<body>
<div class="container">
    <div class="menu-panel">
        <div class="menu-item">
            <a th:href="@{/posts}" href="profile">Posts</a>
        </div>
        <div class="menu-item">
            <a th:href="@{/user/profile}" href="profile">Profile</a>
        </div>
        <div class="menu-item">
            <a th:href="@{/users}" href="#">Users</a>
        </div>
        <div class="menu-item">
            <form th:action="@{/logout}" th:method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="display-posts-form">
        <table>
            <thead>
            <tr>
                <th>Date:</th>
                <th>Content:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post,iter :${user.posts}">
                <td th:text="${post.content}"></td>
                <td th:text="${post.date}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>